html, body {
    background-color: #1b314d !important;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-size: 1.0em;
    font-family: 'Avenir Next W01', 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.app-image {
    width: 2.4%;
    margin-top: 7px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.app-image:hover {
    cursor: pointer;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

#anchor {
    display: none;
}

.header {
    background-color: #1b314d !important;
    border: none !important;
}

.app-title {
    float: left;
    color: white;
    margin-left: 10px;
    font-size: 2.0em;
    margin-top: 10px;
}

#map {
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* map logo override */
.logo-med {
    width: 75px !important;
}

.esriOverviewMap.ovwBL {
    bottom: 0px !important;
}

.esriOverviewMap.ovwBL .ovwContainer {
    bottom: 2px !important;
    left: 0px !important;
    border-top: 1px solid #B7B7B7 !important;
    border-right: 1px solid #C5C5C5 !important;
    padding-top: 1px !important;
    padding-right: 1px !important;
}

/* */
.loader {
    margin-left: 45%;
    margin-top: 25%;
}

.item-loader {
    position: absolute;
    z-index: 100;
    margin-left: 45%;
    margin-top: 10%;
}

/* */
.user-sign-in-btn {
    margin-top: 8px;
    margin-right: 20px;
}

.user-drop-down-navigation {
    margin-right: 5px;
    margin-top: 5px;
    font-size: 0.9em;
    display: none;
}

.authenticated-username {
    font-size: 0.90em;
    color: #666666;
}

.authenticated-drop-down-group {
    margin-left: 10px;
}

.authenticated-drop-down-group:hover {
    color: #005b91;
    cursor: pointer;
}

.custom-btn {
    margin-top: 10px;
    width: 160px;
}

.user-drop-down-navigation {
    z-index: 100 !important;
}

/*************************
/*
/* CONTENT PANES
/*
/*************************

/* Border Container */
.main-container {
    height: 95%;
    width: 100%;
    padding: 0 !important;
    border: none !important;
    background-color: #1b314d !important;
}

/* map content pane */
.map-content-pane {
    width: 70%;
    left: 15px !important;
    padding: 0 !important;
    border: none !important;
    background-color: #1b314d !important;
}

/* chart content pane */
.chart-content-pane {
    width: 30%;
    padding: 0 !important;
    border: none !important;
    overflow: hidden !important;
    background-color: #1b314d !important;
}

/* grid content pane */
.grid-content-pane {
    opacity: 0.0;
    height: 265px;
    padding: 0 !important;
    border: none !important;
    background-color: #1b314d !important;
}

/* SPLASH SCREEN */
.splash-screen {
    position: absolute;
    z-index: 1000;
    right: 0;
    height: 100%;
    display: block;
}

.splash-screen-title {
    color: #aedbff;
    text-align: center;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.splash-screen-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.splash-screen-instructions {
    color: #aedbff;
    font-size: 0.9em;
    line-height: 1.4;
}

.instructions-a {
    margin: 1em 2.3em;
}

.instructions-b {
    margin-left: 2.3em;
    margin-right: 2.3em;
}

.instructions-link {
    color: white;
}

/* drop down container */
.variable-dropdown-list {
    /*margin-left: 20px;*/
}

.variable-dropdown-content-wrapper {
    display: none;
    /* hide it until the chart is rendered */
    opacity: 0.0;
}

/* over-write tailcoat defaults */
.dropdown {
    background-color: #1b314d !important;
    color: #48a2eb !important;
}

.dropdown-profiles {
    padding: 0.5em 0em !important;
    /*padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5 !important;*/
}

/* dijit override */
.dijitContainer {
    background-color: #1b314d !important;
}

.dijitGutter {
    background-color: #1b314d !important;
}

/* style for drop down menu (Temp/Salinity) Profiles */
.temperature-profile-label {
    float: left;
}

.salinity-profile-label {
    float: left;
}

.temp-symbol {
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background: red;
    float: left;
    margin-top: 8px;
    margin-right: 5px;
}

.salinity-symbol {
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background: #fffe11;
    float: left;
    margin-top: 8px;
    margin-left: 3px;
    margin-right: 5px;
}

/* geocoder search */
#search {
    display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 74px;
}