#selectedClusterIdLabel {
    margin-right: 20px;
    font-size: 0.9em;
}

#selectedClusterId {
    color: #f9ff00;
    font-size: 1.4em;
    font-weight: 600;
    text-align: left;
    margin-left: -15px;
}

#fullName {
    font-size: 1.1em;
    margin-top: 10px;
}

#selectedClusterCountLabel {
    font-size: 0.9em;
    margin-right: 20px;
}

#selectedClusterCountLabel:hover {
    cursor: default;
}

#selectedClusterCount {
    color: #FFF;
    font-size: 1.4em;
    font-weight: 600;
    text-align: right;
    margin-left: -15px;
}

.selected-cluster-count-column {

}


/* table override */
table .align-center {
    /*background-color: #d9d9d9;*/
}

.row-header {
    font-size: 0.9em;
    color: #b3d5ff;
    text-align: right;
    width: 30px;
    padding-right: 5px;
    border-top: transparent !important;
    border-bottom: transparent !important;
}

.column-header {
    text-align: center;
}

/* Cluster table */
.cluster-table-container {
    /*margin-top: 10px !important;*/
}

#clusterTable {
    margin-right: 10px;
}

.cluster-table {
    border:none;
    -webkit-font-smoothing: antialiased;
    font-size: 0.75em;
    font-family: 'Avenir Next W01', 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.cluster-table thead tr {
    background-color: #b3b3b3 !important;
}

.cluster-table tr {
    line-height: 0.1 !important;
}

.cluster-table thead tr {
    line-height: 0.1 !important;
    border: none;
}

.cluster-table tr:hover {
    cursor: pointer;
}





/* Variance table */
.variance-table-content {
    margin-top: 25px;
}

.variance-table {
    -webkit-font-smoothing: antialiased;
    font-size: 0.9em;
    font-family: 'Avenir Next W01', 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 5px;
}

.variance-table thead tr {
    line-height: 0.1 !important;
}

.variance-table tr {
    line-height: 0.1 !important;
}

.variance-table-row-header {
    margin-right: -5px;
    color: #b3d5ff;
    text-align: right;
}

.variance-table-row-content {
    text-align: center;
    color: #b3d5ff;
}

.variance-column {
    padding-left: 0 !important;
}




/* Summary table */
.summary-table {
    -webkit-font-smoothing: antialiased;
    font-size: 0.9em;
    font-family: 'Avenir Next W01', 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background-color: transparent !important;
    border: transparent !important;
}

.summary-table tr {
    line-height: 0.1 !important;
    background-color: transparent !important;
    border: transparent !important;
}

.summary-table thead {
    background-color: transparent !important;
    border: transparent !important;
}

.summary-table thead tr {
    line-height: 0.1 !important;
    background-color: transparent !important;
}

.summary-table thead tr td {
    border-right: transparent !important;
    border-left: transparent !important;
}

.summary-table thead tr th {
    border-right: transparent !important;
    border-left: transparent !important;
}

.summary-table tbody {
    color: white;
    border: transparent !important;
}

.summary-table tbody tr td {
    /*padding-right: 55px;*/
    border-left: transparent !important;
    border-right: transparent !important;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    text-align: right;
}

.summary-table-cell {
    padding-right: 35px;
}

.summary-table-cell:hover {
    cursor: default;
}

.summary-table-loader {
    position: absolute;
    margin-left: 30%;
    margin-top: 75px;
    display: none;
}

.summary-table-column-header {
    color: #b3d5ff;
    font-weight: normal;
    font-size: 0.9em;
}

.summary-table-column-header:hover {
    cursor: default;
}


#cluster-table {

}

.cluster-table thead tr td {
    background: #1b314d;
    color: #b3d5ff;
    border: none;
    font-weight: normal;
    font-size: 1.1em;
}

.cluster-table-row {
    line-height: 1.7;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: 1px solid #1b314d !important;
    font-weight: 600;
    text-align: center;
}

.custom-cell-style {
    padding-right: 2px !important;
    padding-left: 2px !important;
}

.hide-cell-value-style {
    color:transparent !important;
}