@import url('./fonts.css');
@import url('./calcite.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
}

.z-1 {
  z-index: 1;
}

.info-panel-item-header {
  @apply h-info-panel-item-header items-center text-custom-light-blue font-size--2 mb-1 font-semibold;
}

.text-shadow-black{
  text-shadow: 1px 1px 6px #000;
}

.bg-black-opacity-80 {
  background: rgba(0,0,0,.8);
}


.bg-gradient-transparent-to-semi-black::before {
  @apply absolute pointer-events-none top-0 right-0 h-full w-full;
  content: '';
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 70%, rgba(0,0,0,.4) 100%);
}

.font-size--1 {
    font-size: var(--calcite-font-size--1);
}

.font-size--2 {
    font-size: var(--calcite-font-size--2);
}

.font-size--3 {
    font-size: var(--calcite-font-size--3);
}

.scroller {
    scrollbar-color: #888 #4b4b4b;
    scrollbar-width: thin;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #4b4b4b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }