.mobile-nav {
  bottom: 10px;
  position: absolute;
  justify-content: center;
  align-content: center;
  text-align: center;
  left: 0;
  right: 0;
  display: flex;
}

.mobile-nav ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}

.mobile-nav li {
  position: relative;
  display: block;
  float: left;
  margin: 0 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.mobile-nav li div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255,255,255,0.3);
  text-indent: -999em;
  cursor: pointer; /* make the text accessible to screen readers */
  position: absolute;
  border: 3px solid white
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 5000px) {
  .mobile-nav {
    display: none;
  }

  .charts-3 li {
    display: none;
  }

  .charts-2 li {
    display: none;
  }

  .charts-1 li {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1028px) {
  .mobile-nav {
    display: flex;
  }

  .charts-3 li {
    display: flex;
  }

  .charts-2 li {
    display: none;
  }

  .charts-1 li {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .mobile-nav {
    display: flex;
  }

  .charts-3 li {
    display: none;
  }

  .charts-2 li {
    display: flex;
  }

  .charts-1 li {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mobile-nav {
    display: flex;
  }

  .charts-3 li {
    display: none;
  }

  .charts-2 li {
    display: none;
  }

  .charts-1 li {
    display: flex;
  }
}

